section {
}

.banner {
  width: 80%;
  margin: auto;
  padding-top: 4rem;
  /* height: 80vh; */
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  /* position: relative; */
  background-color: #1a1a1a;
  width: 100%;
  height: 95vh;
  z-index: 1;
  color: whitesmoke;
}

.banner img {
  width: 500px;
  z-index: 2;
  position: absolute;
  right: 15%;
  /* filter: grayscale(100%); */
  /* background-color: yellow; */
  /* filter: hue-rotate(90deg); */
  /* background-color: red;
  mix-blend-mode: multiply; */
  filter: brightness(3.5) invert(8);
}

.banner-box {
  /* border: 1px solid red; */
  margin: auto;
  width: 75%;
  /* padding: 1rem 8rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;

  /* position: absolute; */
}

.hi {
  font-size: 1.5rem;
  color: rgb(177, 177, 46);
  font-family: "Roboto Mono", monospace;
}

.big-text {
  font-size: 5rem;
  font-family: "Rock 3D", cursive;
  font-family: "Playfair Display", serif;
  margin: 0;
  padding-bottom: 1rem;
}

/* animation: myAnim 1s ease 0s 1 normal; */

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

span {
  color: rgb(184, 184, 184);
}

.banner-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 2rem;
  font-family: "Playfair Display", serif;
  width: 60ch;
  color: rgb(230, 230, 230);
  padding-bottom: 1.2rem;
}

.contact {
  color: rgb(177, 177, 46);
  border-color: rgb(177, 177, 46);
}

.contact:hover {
  color: whitesmoke;
  background-color: rgb(158, 131, 12);
}
/* a.contact-btn {
  margin-top: 1.5rem;
  border: 1px solid rgb(118, 139, 22);
  background-color: rgb(102, 114, 47);
  padding: 1rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
} */

a.contact-btn:hover {
  background-color: rgba(255, 255, 255, 0.589);
  color: black;
}

@media only screen and (max-width: 1024px) {
  .banner {
    height: auto;
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .big-text {
    font-size: 3.5rem;
  }
  .banner-text {
    font-size: 1rem;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .hi {
    font-size: 1.2;
  }
  .big-text {
    font-size: 2.5rem;
    padding-bottom: 1.3rem;
  }
  .banner img {
    right: 0;
  }
  /* .banner-text {
    font-size: 1rem;
    width: 100%;
  } */
}
