/* .App {
  width: 100vw;
} */
.app {
  /* margin-left: auto; */
  margin: 0;
  padding: 0;
  /* height: 100%; */
  /* overflow-x: hidden; */
  padding-bottom: 0.3rem;
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  /* background-color: rgb(141, 148, 48); */
  background-color: whitesmoke;
}

a {
  /* text-decoration: none; */
  /* color: black; */
}
